# Node.js
node_modules/
npm-debug.log*
yarn-error.log
package-lock.json
yarn.lock
.env
dist/
build/
.cache/
.npm/
.npmrc
.DS_Store

# Python
__pycache__/
*.py[cod]
*.so
*.swp
venv/
env/
pip-log.txt
pip-delete-this-directory.txt
*.pyenv
Pipfile
Pipfile.lock
.poetry
poetry.lock

# Virtual Environment
.virtualenv/
.vscode/
.idea/
*.sqlite3
db.sqlite3

# Logs & Debugging
logs/
*.log
debug.log
*.out
*.pid

# Coverage Reports
coverage/
*.cover
*.coverage
.coverage.*
htmlcov/

# Jupyter Notebooks
.ipynb_checkpoints/

# MacOS
.DS_Store
.AppleDouble
.LSOverride

# VSCode
.vscode/
.history/
*.code-workspace

# System Files
Thumbs.db
ehthumbs.db
*.bak
*.swp
